<!DOCTYPE html>
<html lang="fr">
<head>
    {% stylesheets filter="compass" output="css/all.css"
          "@CLChillMainBundle/Resources/assets/gumpy/sass/gumby.scss" %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
    
    
</head>

<body>



<p> Hello  ! </p>

<div class="medium primary btn">
  <a href="#">Primary</a>
</div>

</body>


</html>