<!DOCTYPE html>
<html lang="fr">
<head>
    {% stylesheets  output="css/all.css"
          "@CLChillMainBundle/Resources/assets/gumpy/css/gumby.css" %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
    
    
</head>

<body>



<p> Hello  ! </p>

<div class="medium primary btn">
  <a href="#">Primary</a>
</div>

</body>


</html>