{#
 * Copyright (C) 2014-2015, Champs Libres Cooperative SCRLFS, 
 <info@champs-libres.coop> / <http://www.champs-libres.coop>
 *
 * This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 *  License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}

{#
    Layout with a vertical menu and a conainer for the content (like admin, export)
    ( for the vertical menu you can extends Menu/veticalMenu.html.twig ).
#}

{% extends "ChillMainBundle::layout.html.twig" %}

{% block sublayout_containter %}
    <div class="container content"> 
        <div class="grid-8 push-1 grid-mobile-9 grid-tablet-9 push-mobile-0 push-tablet-0">
            {# Flash messages ! #}
            <div class="container">
                {% for flashMessage in app.session.flashbag.get('success') %}
                    <div class="grid-8 centered success flash_message">
                        <span>
                            {{ flashMessage|raw }}
                        </span>
                    </div>
                {% endfor %}
                    
                {% for flashMessage in app.session.flashbag.get('error') %}
                    <div class="grid-8 centered error flash_message">
                        <span>
                            {{ flashMessage|raw }}
                        </span>
                    </div>
                {% endfor %}
                    
                {% for flashMessage in app.session.flashbag.get('notice') %}
                    <div class="grid-8 centered notice flash_message">
                        <span>
                            {{ flashMessage|raw }}
                        </span>
                    </div>
                {% endfor %}    
            </div>

            {% block layout_wvm_content %}<!-- content of the layoutWithVerticalMenu is empty -->
            {% endblock  %}
        </div>

        <div class="grid-3 float-right">
            {% block vertical_menu_content %}<!-- vertical menu of the layoutWithVerticalMenu is empty -->
            {% endblock %}
        </div>
    </div>
{% endblock %}