$chill-blue: #334d5c;
$chill-green: #43b29d;
$chill-green-dark: #328474;
$chill-yellow: #eec84a;
$chill-orange: #e2793d;
$chill-red: #df4949;
$chill-gray: #ececec;
$chill-beige :#cabb9f;
$chill-pink :#dd506d;

$chill-dark-gray: #333333;
$chill-light-gray: #b2b2b2;

$orange: $chill-orange;
$red: $chill-red;
$green: $chill-green;
$blue: $chill-blue;
$yellow: $chill-yellow;