// General
$base-border-radius: 0;
$form-border-radius: 0;
$navigation-border-radius: 0;

// Footer
$footer-vertical-padding: 20px;
$footer-background: $chill-dark-gray;

// Navigation
$navigation-background: $dark-grey;
$navigation-first-padding-top: 0;
$navigation-last-padding-bottom: 0;
$navigation-color: white;
$navigation-color-hover: white;
$navigation-padding: 0;


// Form
$form-border-color: $black;
$form-border-color-hover: $black;
$form-border-color-focus: $black;
$form-border-size: 2px;