// General
$base-border-radius: 0;
$form-border-radius: 0;
$navigation-border-radius: 0;

// Footer
$footer-vertical-padding: 20px;
$footer-background: $chill-dark-gray;

// Navigation
$navigation-background: $dark-grey;