// YOUR CUSTOM SCSS
div#general {
    background: none repeat scroll 0 0 #2980b9;
    color: #FFF;
    padding: 0.5em;
}

html,body { min-height:100%; }

.title {
   font-size: 2em;
}

.subtitle {
   font-size: 1.5em;
}