// YOUR CUSTOM SCSS
div#general {
    background: none repeat scroll 0 0 #2980b9;
    color: #FFF;
    padding: 0.5em;
}

html,body { 
   min-height:100%; 
   background-color: $footer-background;
}

.cf-title {
   font-size: 2em;
}

.cf-subtitle {
   font-size: 1.5em;
}

ul.submenu.min-width {
   min-width: 11em;
}

.content {
   padding-top: 1em;
   padding-bottom: 1em;
   background-color: $white;
}

.select2 {
   width: 100%;
}

ul.custom_fields.choice li {
   list-style:none;
}


.sticky-form-buttons {
   margin-top:1em;
   background-color:$orange;//$grey-5;
   position:sticky;
   bottom:0.5em;
   text-align:center;
   padding:0.5em;
   border-radius: $base-border-radius;
}

.sticky-form-buttons button {
   margin-left: 1em;
   margin-right: 1em;
}