# MacOS
.DS_Store

# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

#composer
composer.lock
#sass-cache
Resources/assets/gumpy/.sass-cache

*~
