# MacOS
.DS_Store

# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml
Tests/Fixtures/App/config/parameters.yml

#composer
composer.lock
#sass-cache
Resources/assets/gumpy/.sass-cache
Resources/public/stylesheets/sass
*~

Resources/.sass-cache/
Resources/bower_components/
Resources/node_modules/
Resources/public/sass/*
!Resources/public/sass/_custom.scss
!Resources/public/sass/_timeline.scss
!Resources/public/sass/custom/