# MacOS
.DS_Store

# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml
Tests/Fixtures/App/config/parameters.yml

#composer
composer.lock
#sass-cache
Resources/assets/gumpy/.sass-cache

*~

Resources/.sass-cache/
Resources/bower_components/
Resources/node_modules/
Resources/public/css/sass/*
!Resources/public/css/sass/_custom.scss
Resources/public/js/select2/
Resources/public/js/pikaday/
Resources/public/css/select2/
Resources/public/js/moment.js
Resources/public/js/pikaday/
Resources/public/js/select2/
Resources/public/js/jquery*
Resources/public/css/scratch*