.personName {
    font-variant: small-caps;
    text-transform: capitalize;
}

.personName {
    text-transform: capitalize;
}

input.belgian_national_number_inversed_date {
    width: 7em;
    margin-right: 1em;
}

input.belgian_national_number_daily_counter {
    width: 4em;
    margin-right: 1em;
}

input.belgian_national_number_control_digit {
    width: 3em;
}

