// Your custom SCSS should be written here...
$font-family-title: "Merriweather Sans";
$font-weight-title: $font-weight-semibold;

h1,h2,h3,h4,h5,h6 {
    font-family: $font-family-title;
    font-weight: $font-weight-title;
}

