// Your custom SCSS should be written here...
$font-family-title: "Merriweather Sans";
$font-weight-title: $font-weight-semibold;

h1,h2,h3,h4,h5,h6 {
    font-family: $font-family-title;
    font-weight: $font-weight-title;
}

//correct entypo
@font-face { font-family: "entypo"; font-style: normal; font-weight: 400; 
             src: url('./../../fonts/icons/entypo.eot'); 
             src: url("../../fonts/icons/entypo.eot?#iefix") format("ie9-skip-eot"), 
                 url("./../../fonts/icons/entypo.woff") format("woff"), 
                 url("./../../fonts/icons/entypo.ttf") format("truetype"); 
}