// Your custom SCSS should be written here...
$font-family-title: "Merriweather Sans";
$font-weight-title: $font-weight-semibold;

h1,h2,h3,h4,h5,h6 {
    font-family: $font-family-title;
    font-weight: $font-weight-title;
}

table .striped, table.stripe {
    background-color: $table-stripe-bgcolor;
}

pre {
    font-family: monospace;
    font-weight: normal;
}

table tr td:first-child {
    
    font-weight: normal;
    
}

