 div#connect_module_menu {
     
     text-align: right;

    nav.inline-nav {
        display: inline; 

        ul, ol {

            list-style-type: none;
            display: inline;

            li {
                display: inline; 
            }
        }
    }
}