
ul.admin_tiles {
    li {
        background: none repeat scroll 0 0 #E9E9E9;
        border: 1px solid #C9C9C9;
        padding: 1.5em;
        margin-left: 1.5em;
        margin-bottom: 1.5em;
        
        p, h1, h2, h3 {
            width: 350px;
        }
    }
    
    
}

