{% extends "ChillMainBundle::layout.html.twig" %}

{% block title%}{{ header_title|trans }}{% endblock %}

{% block content %}

<h1>{{ page_title|trans }}</h1>

{{ chill_menu('admin', {
    'layout': 'ChillMainBundle::Menu/admin.html.twig',
}) }}

{% endblock %}