ul {
   &.unstyled {
      list-style: none;
      padding-left: 0em;

      ul  {
         list-style:disc outside;
      }
   }
}

a {
    color: $base-link-color;
}

a:hover {
    color: $hover-link-color;
}