.navigation {
   background-color: $chill-blue;

   li.more.nav-link {
      a {
         margin-bottom: 2px;
      }

      a:after {
         color: $chill-dark-gray;
      }

      &.lang-selection {
         color: $chill-light-gray;
         font-size: 0.7em;

         a:after {
            color: $chill-light-gray;
         }
      }
   }

   div.nav, div.navigation-search {
      float: right;

      input[type=search] {
         padding: 0.2em;
         float: left;

         border: none;
      }
   
      button {
         color: $chill-light-gray;
         background-color: $chill-blue;
         padding: 0 0 0 5px;
         float: left;
         font-size: 1.2em;
      }
   }
}