.navigation {
   background-color: $chill-blue;


   a.more:after {
      color: $chill-dark-gray;
   }

   li.nav-link2 {
      a {
         margin-bottom: 2px;
      }

      &.lang-selection {
         color: $chill-light-gray;
         font-size: 0.7em;

         a.more:after {
            color: $chill-light-gray;
         }
      }

      ul {
         top: 58px;

         a {
            padding-left: 0;
         }
      }
   }

   div.nav, div.navigation-search {
      float: right;

      input[type=search] {
         padding: 0.2em;
         float: left;

         border: none;
      }
   
      button {
         color: $chill-light-gray;
         background-color: $chill-blue;
         padding: 0 0 0 7px;
         top: inherit;
         font-size: 1.2em;
         position: unset;
         float: left;
      }
   }
}