<li class="nav-link more"><a href="javascript:void(0)">Sections</a>
    <ul class="submenu width-15-em">
        {% for route in routes %}
            <li><a href="{{ path(route.key, args ) }}">
                {% spaceless %}
                    {% for icon in route.icons %}
                        <i class="fa fa-{{ icon }}"></i> 
                    {% endfor %}
                {% endspaceless %}
                {{ route.label|trans }}</a></li>
        {% endfor %}
    </ul>
</li>